    /*
    Flaticon icon font: Flaticon
    Creation date: 08/01/2018 07:15
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-earth-link:before { content: "\f100"; }
.flaticon-technology:before { content: "\f101"; }
.flaticon-people:before { content: "\f102"; }
.flaticon-play-rounded-button:before { content: "\f103"; }
.flaticon-play-button:before { content: "\f104"; }
.flaticon-facebook:before { content: "\f105"; }
.flaticon-rss-symbol:before { content: "\f106"; }
.flaticon-arrows-1:before { content: "\f107"; }
.flaticon-multimedia-1:before { content: "\f108"; }
.flaticon-square:before { content: "\f109"; }
.flaticon-clip:before { content: "\f10a"; }
.flaticon-paper:before { content: "\f10b"; }
.flaticon-clock:before { content: "\f10c"; }
.flaticon-menu:before { content: "\f10d"; }
.flaticon-placeholder-point:before { content: "\f10e"; }
.flaticon-next:before { content: "\f10f"; }
.flaticon-multimedia:before { content: "\f110"; }
.flaticon-arrows:before { content: "\f111"; }
.flaticon-location-point:before { content: "\f112"; }
.flaticon-road-straight-line-top-view:before { content: "\f113"; }
.flaticon-tool:before { content: "\f114"; }
.flaticon-neighborhood:before { content: "\f115"; }
.flaticon-factory:before { content: "\f116"; }
.flaticon-bomb:before { content: "\f117"; }
.flaticon-worker-of-construction-working-with-a-shovel-beside-material-pile:before { content: "\f118"; }
.flaticon-magnifier:before { content: "\f119"; }
.flaticon-youtube-logo:before { content: "\f11a"; }
.flaticon-message-closed-envelope:before { content: "\f11b"; }
.flaticon-telephone-handle-silhouette:before { content: "\f11c"; }
.flaticon-cell-phone:before { content: "\f11d"; }
    
    $font-Flaticon-earth-link: "\f100";
    $font-Flaticon-technology: "\f101";
    $font-Flaticon-people: "\f102";
    $font-Flaticon-play-rounded-button: "\f103";
    $font-Flaticon-play-button: "\f104";
    $font-Flaticon-facebook: "\f105";
    $font-Flaticon-rss-symbol: "\f106";
    $font-Flaticon-arrows-1: "\f107";
    $font-Flaticon-multimedia-1: "\f108";
    $font-Flaticon-square: "\f109";
    $font-Flaticon-clip: "\f10a";
    $font-Flaticon-paper: "\f10b";
    $font-Flaticon-clock: "\f10c";
    $font-Flaticon-menu: "\f10d";
    $font-Flaticon-placeholder-point: "\f10e";
    $font-Flaticon-next: "\f10f";
    $font-Flaticon-multimedia: "\f110";
    $font-Flaticon-arrows: "\f111";
    $font-Flaticon-location-point: "\f112";
    $font-Flaticon-road-straight-line-top-view: "\f113";
    $font-Flaticon-tool: "\f114";
    $font-Flaticon-neighborhood: "\f115";
    $font-Flaticon-factory: "\f116";
    $font-Flaticon-bomb: "\f117";
    $font-Flaticon-worker-of-construction-working-with-a-shovel-beside-material-pile: "\f118";
    $font-Flaticon-magnifier: "\f119";
    $font-Flaticon-youtube-logo: "\f11a";
    $font-Flaticon-message-closed-envelope: "\f11b";
    $font-Flaticon-telephone-handle-silhouette: "\f11c";
    $font-Flaticon-cell-phone: "\f11d";